* { /* */
  box-sizing:border-box; /* Reset the box-sizing model */
}

body { /* */
  background: #333; /* Dark Gray */
  padding: 0; /* No Padding */
  margin: 0; /* No Margin */
  overflow: hidden; /* This will help prevent scrolling, since we'll be using the arrow keys a lot for movement */
}

.game-container { /* Home for the entire game (UI, Objects, etc.., */
  position: relative; /* Relative to this container */
  width: 352px; /* Same settings as the .game-canvas, but serves a different purpose/screen */
  height: 198px; /* Same settings as the .game-canvas, but serves a different purpose/screen */
  margin: 0 auto; /* Places the container in the center */
  outline: 1px solid #fff; /* Outlines the container with a solid white line */

  transform: scale(3) translateY(50%); /* Take every pixel multiply by (number), Take the container and move it down by (number%) the percentage of height */
}

.game-container canvas { /* */
  image-rendering: pixelated; /* Evenly multiply the pixels (smoothing effect) */
}